[user]
	name = ***
	email = ***@**.**
[core]
	editor = emacs
[color]
	branch = auto
	status = auto
	diff = auto
[alias]
        co = checkout
        ci = commit
        cm = commit -m
        ca = commit -a
        cam = commit -am
        st = status
        br = branch
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
        type = cat-file -t
        dump = cat-file -p
